.spacer {
  flex: 1 1 auto;
}

.main-header span {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  cursor: pointer;
  letter-spacing: 1px;
}

.content {
  min-height: calc(100vh - 64px);
}
