<div class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ editMode ? 'Edit Product' : 'Add New Product' }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Price</mat-label>
          <input matInput type="number" formControlName="price">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Stock</mat-label>
          <input matInput type="number" formControlName="stock">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!productForm.valid">Save</button>
      <button mat-button routerLink="/admin/dashboard">Cancel</button>
    </mat-card-actions>
  </mat-card>
</div>
