.product-detail-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

mat-card {
  width: 80%;
  max-width: 800px;
}

.questions-card {
  margin-top: 20px;
}
